/* body{
    background-color: #090A0C;
    #1DB3F4
    #5278C3
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: #090A0C;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.space20{
  min-height: 20vh;
}
.space5{
  min-height: 5vh;
}

h1{
  font-size: 4rem;
}
p{
  font-size: 1.2rem;
}

button{
 font-size: 1.2rem;
 background-color: #1DB3F4;
 color: white;
 padding: 1rem 5rem;
 border-radius: .8rem;
}

.main_container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 1.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  /* background-image: url('img/img.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;
  -moz-box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;
  box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;
  
}

.navbar{
  display: none;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: auto;
  width: 90%;
  min-height: 10rem;
}
.ham{
  font-size: 2rem;
  padding: 1rem;
}

.ham_items{
  width: 70vw;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 1rem;
}
.navbar .logo img{
  max-width: 100%;
}
.navbar .logo{
  padding: 1rem;
}
.navbar .links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .links a{
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.hero{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.hero .title{
  display: grid;
  align-items: center;
}
.hero .text{
  padding: 1rem;
}
.hero img{
  display: grid;
  max-width: 90%;
  justify-self: end;
  
}

.skills{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-self: center;
  width: 90%;
  min-height: 100vh;
}
.skills .title{
  display: grid;
  grid-template-columns: 1fr;
  align-self: end;
}
.skills button{
  align-self: center;
  height: 3rem;
}
.projects{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-self: center;
  width: 90%;
  min-height: 100vh;
}
.projects .title{
  align-self: end;
}
.projects .project{
  height: 80vh;
}
.contact{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-self: center;
  width: 90%;
  text-align: center;
}
.footer{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-self: center;
  width: 90%;
  min-height: 10rem;
}

.item{
  background-color: #5278c3;
  opacity: 0.3;
}

@media (min-width: 600px) {
  .navbar{
      display: grid;
      grid-template-columns: 2fr 9fr;
  }
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
  
  .hero{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: .5rem;
  }
  .hero .text{
      padding: 5rem;
  }
  .hero .image{
      display: flex;
      align-items: center;
      width: 100%;

  }
  .skills{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .skills .title{
      grid-column: span 2;
      grid-template-columns: 8fr 2fr;
  }
  .projects{
      display: grid;
      grid-template-columns: 1fr;
  }
  .contact{
      display: grid;
      grid-template-columns: 1fr;
  }
  .footer{
      display: grid;
      grid-template-columns: 2fr 9fr;
  }
}

@media (min-width: 1000px) {
  .navbar{
      display: grid;
      grid-template-columns: 1fr 9fr;
  }
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
  .hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
  .hero .text{
      padding: 5rem;
  }
  .hero .image{
      display: flex;
      padding: 5rem 3rem 3rem 3rem;
      align-items: center;
      width: 80%;
  }
  

  .skills{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .skills .title{
      grid-column: span 4;
      grid-template-columns: 8fr 2fr;
  }
  .projects{
      display: grid;
      grid-template-columns: 1fr;
  }
  .contact{
      display: grid;
      grid-template-columns: 1fr;
  }
  .footer{
      display: grid;
      grid-template-columns: 1fr 9fr;
  }
}

@media (min-width: 1400px) {
  h1{
    font-size: 6rem;
  }
  p{
    font-size: 2rem;
  }
  button{
    font-size: 2rem;
  }
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
}