/* body{
    background-color: #090A0C;
    #1DB3F4
    #5278C3
} */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Righteous&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  background-color: #090A0C;
  color: white;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  /* border: 1rem solid white; */
}
.space20{
  min-height: 20vh;
}
.space5{
  min-height: 5vh;
}

h1{
  font-size: 3rem;
  font-family: 'Righteous', cursive;
}
h1:hover{
  cursor: pointer;
}
p{
  font-size: 1.2rem;
}
i{
  font-size: 5rem;
}

a{
  color: white;
}

.button{
  font-size: 1.2rem;
  background-color: #1DB3F4;
  color: white;
  border-radius: .8rem;
  align-self: center;
  width: 15rem;
  padding: 1rem 2rem;
   text-align: center;
   box-sizing: border-box;
   transition: all .3s ease-in;
 }
 .button:hover{
  cursor: pointer;
  background: transparent;
  border: solid .1rem #1DB3F4;
 }
 .button-outline{
  font-size: 1.2rem;
  border: solid .1rem #1DB3F4;
  color: white;
  border-radius: .8rem;
  align-self: center;
  width: 15rem;
  padding: 1rem 2rem;
  text-align: center;
  box-sizing: border-box;
  transition: all .3s ease-in;
 }
 .button-outline:hover{
  cursor: pointer;
  background: transparent;
  background-color: #1DB3F4;
 }

.animated_word{
  display: inline-block;
}

.main_container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 1.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  /* background-image: url('img/img.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;
  -moz-box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;
  box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;

  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  background-size:100% auto;
}

.navbar{
  display: none;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: auto;
  width: 90%;
  min-height: 10rem;
}
.ham{
  font-size: 2rem;
  padding: 1rem;
}
.ham i{
  font-size: 2rem;
}

.ham_items{
  width: 50vw;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 1rem;
}
.navbar .logo img{
  max-width: 100%;
}
.navbar .logo{
  padding: 1rem;
}
.navbar .links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .links a{
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.hero{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.hero .title{
  display: grid;
  align-items: start;
}
.hero .text{
  padding: 1rem;
}
.hero .image{
  display: grid;
  align-content: start;
  padding: 1rem;
  justify-content: end;
}
.hero img{
  display: grid;
  max-width:80%;
}

.moving_text{
  opacity: .1;
  text-align: center;
}
.moving_text h1:hover{
  cursor: default;
}

.skills{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 90%;
  /* padding: 5rem; */
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
}
.skills .title{
  display: grid;
  grid-template-columns: 1fr;
  align-self: end;
  text-align: right;
}
.skills button{
  align-self: center;
  height: 3rem;
}

.skills .card{
  display: grid;
  justify-content: center;
  padding: 3rem 1rem 1rem 1rem;
  color: white;
  background-color: #1DB3F4;
  text-align: center;
}

.projects{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  /* padding: 5rem; */
  text-align: left;
  padding: 1rem;
}
.projects .title{
  align-self: end;
}
.projects i{
  font-size: 2rem;
}
.project{
  position: relative;
  width: 15rem;
  min-height: 7.5rem;
  overflow-y: hidden;
  overflow-x: hidden;
  /* border-radius: 2rem; */
  display: grid;
  /* justify-self: center; */
}
.project .project_title{
  position: absolute;
  z-index: 90;
  width: 25rem;
  min-height: 25rem;
  background:hsla(0, 0%, 0%, .85);
  box-sizing: border-box;
  padding: 1rem;
  display: none;
}
.project .project_title .text{
  padding: 1rem;
}
.project .text a{
  margin-top: 2rem;
  margin-bottom: 1rem;
  
}
.project img{
  filter: brightness(90%);
  position: absolute;
  max-width: 100%;
}

.project img:hover{
  cursor: pointer;
}

/* Contact Start */
.contact{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 90%;
  min-height: 100vh;
  padding: 0rem;
  box-sizing: border-box;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;
  -moz-box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;
  box-shadow: inset -10vw -50vh 20rem 1rem #090A0C;

  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  background-size:100% auto;
  margin: auto;
}
.contact .title{
  display: grid;
  align-items: center;
}
.contact .text{
  padding: 1rem;
}
.contact .button{
  margin:auto;
  display: inline-block;
  margin: 2rem 1rem;
  width: 10rem;
}
.contact .button-outline{
  margin:auto;
  display: inline-block;
  margin: 2rem 1rem;
  width: 10rem;
}
.contact i{
  font-size: 2rem;
  
}
/* Contact End */
.footer{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-self: center;
  width: 90%;
  min-height: 10rem;
}


@media (min-width: 600px) {
  .navbar{
      display: grid;
      grid-template-columns: 2fr 9fr;
  }
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
  
  .hero{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: .5rem;
  }
  .hero .text{
      padding: 5rem;
  }
  .hero .image{
      padding: 8rem 1rem 8rem 1rem;
  }
  .skills{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .skills .title{
      grid-column: span 2;
  }
  .projects{
      display: grid;
      grid-template-columns: 1fr;
      padding: 5rem;
  }
  .project{
      width: 30rem;
      min-height: 15rem;
  }
  .project .project_title{
    display: none;
  }
  .contact{
      display: grid;
      grid-template-columns: 1fr;
      padding: 5rem;
  }
  .footer{
      display: grid;
      grid-template-columns: 2fr 9fr;
  }
}

@media (min-width: 1000px) {
  
  h1{
    font-size: 4rem;
  }
  .navbar{
      display: grid;
      grid-template-columns: 1fr 9fr;
  }
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
  .hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
  .hero .text{
      padding: 5rem;
  }
  .hero .image{
      padding: 5rem;
      justify-content: center;
      /* align-content: center; */
  }
  .hero img{
    min-width: 80%;
  }
  .skills{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .skills .title{
      grid-column: span 4;
      grid-template-columns: 1fr;
  }
  .skills .title2{
      grid-column: span 4;
      grid-template-columns: 1fr;
  }
  .projects{
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
  }
  .project{
    width: 50rem;
    min-height: 25rem;
    border-radius: 2rem;
    justify-self: center;
  }
  .project .project_title{
    display: block;
  }
  .project_title_mobile{
    display: none;
  }

  .contact{
      display: grid;
      grid-template-columns: 1fr;
      padding: 5rem;
  }
  .contact .button{
    margin: 2rem 1rem;
    width: 20rem;
  }
  .footer{
      display: grid;
      grid-template-columns: 1fr 9fr;
  }
}

@media (min-width: 1400px) {
  h1{
    font-size: 6rem;
  }
  p{
    font-size: 2rem;
  }
  button{
    font-size: 2rem;
  }
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
  .hero .image{
      padding: 5rem;
      justify-content: center;
      align-content: center;
  }
  .hero img{
    min-width: 100%;
  }
}